@charset "utf-8";
/* global */
html,body {
    font: 13px/1.11 'Microsoft Yahei',Tahoma,Arial,Helvetica,Simsun,STHeiti;
}
body {background:#E6E6E6;}
table{
    border-collapse:collapse;
    border-spacing:0;
    font-size:inherit;
}
ol,ul{list-style:none;}
.fl{float: left;}
.fr{float: right;}
a{color:#484848;text-decoration:none;  }
a:hover{color:#847B5F;}
a.disable{color:#999;}
a.disable:hover{text-decoration:none;cursor:default;}
.clearfix:after{content:".";display:block;height:0;clear:both;overflow:hidden;}
.input{display:inline-block;width:268px;height:18px;padding:4px;border:1px solid #C6C6CC;line-height:18px;vertical-align:middle;font-size:12px;color:#535471;
    border-radius:2px;
    -moz-box-sizing:inherit;
    -webkit-box-sizing:inherit;
    transition:all .2s;
    -moz-transition:all .2s;/* Firefox 4 */
    -webkit-transition:all .2s; /* Safari 和 Chrome */
    -o-transition:all .2s;; /* Opera */
}
.input:hover{border-color:#BEBF9E;box-shadow:0 0 3px #BEBF9E;}
.input-focus,.input-focus:hover{border-color: #A9A9B8;color:#555;box-shadow:0 1px 3px rgba(120,198,116,0.2) inset;}
.input-detect,.input-detect:hover{border-color: #EDC7AE;color:#555;box-shadow:0 1px 3px rgba(237,199,174,0.2) inset;}
.input-error,.input-error:hover{border-color: #FF819C;background-color:#FFF7F9;box-shadow:0 1px 3px rgba(255,129,156,0.2) inset;}
.input-success,.input-success:hover{color:#555;background-color:FBFBFB;box-shadow:0 1px 3px rgba(206,206,206,0.2) inset;}
.input:focus,.input-detect:focus,.input-error:focus,.input-success:focus{border-color:#A9A9B8;color:#555;box-shadow:0 1px 3px rgba(169,169,184,.5) inset;outline:none;}
.input-disable,.input-disable:focus,.input-disable:hover{background-color:#EBEBEB;border-color:#CECECE;color:#BDBDBD;cursor:default;}
.search a.btn {
    background: #54C28E;
    background-image: linear-gradient(-180deg, #54C28E 0%, #2EAC70 100%);
    border: 1px solid #3BAA75;
    box-shadow: 0px 1px 2px 0px #17533E;
    border-radius: 2px;
    padding: 0 30px;
}
.search a.btn:hover {
    color: #FFF;
}
/* .btn{
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 0 29px;
    border: none;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
    border-radius: 2px;
    outline: none;
    padding-bottom: 2px;
    font-family: microsoft yahei;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.16));
    background-image: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.1));
    background-image: linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.1));
    background-color: #AA9869;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
} */
/* input[type="button"]{padding-bottom:2px;}
.btn+.btn{margin-left:10px;}
.btn:hover{background-color: #B4A989;}
a.btn{padding:1px 10px;line-height:26px;}
a.btn-normal{padding:0 15px;}
a.btn:hover{color:#000;}
a.btn-normal:hover{color:#565777;}
.btn:active{background-color: #A09575;}
.btn-normal{border:1px solid #CACAD2;background-color:#FFF;color:#565777;box-shadow:none;}
.btn-normal:hover{border-color:#9D9EAD;background-color:#FFF;}
.btn-small {height:24px;line-height:22px;font-weight:normal;padding:0 10px;font-size:12px;}
a.btn-small {line-height:23px;}
.btn-disabled {background:#CCC;color:#999;
}
.btn-disabled:hover,a.btn-disabled:hover {background:#CCC;color:#999;cursor:default;} */
/* .select { background: #fff url("../images/global/pull-down.png") no-repeat right center; line-height: 24px; height: 24px; box-shadow: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; color: #4e4e4e; padding: 0 26px 0 2px; width: 85px; padding: 3px 2px\9; width: 102px\9; background-image: none\9; height: auto \9; border-radius: 1px; border: 1px solid #e0e0e0; box-sizing: content-box; } */
.select.lg {line-height: 26px;height: 26px;}
.select:focus { outline: none; border-color: #cac8c8; }
#canvas{position: absolute;top:0;left: 0;z-index: 9}
/* global---end */

/* S header */
.trend-header {background:#2F2F2F;font-family:Microsoft YaHei;}
.trend-header-inner {margin:0 auto;/* height:60px; */line-height:60px;overflow:hidden;}
.trend-header-inner li {float:left;padding:0 20px;height: 60px;overflow: hidden;}
.trend-header-inner li.current {background:#FFF;/* height: 60px; */}
.trend-header-inner li a {color:#FFF;}
.trend-header-inner li.current a {color:#333;font-size:14px;}
/* E header */

.main{position:relative;border-width:0 1px 1px;border-style:none solid solid;border-color:transparent #C2C2D2 #C2C2D2;background-color:#FFF;}
.chart-container-main {margin:0 auto;}
.select-section{
    background: #e6e6e6;
    position: relative;
    z-index: 2;
    display: inline-block;
    vertical-align: -19px;
}
.select-section-inner {
}
.select-section-content{
    height: 56px;
    line-height: 42px;
    position: relative;
    z-index: 1;
    top: -2px;
    /* padding: 5px 0 0 0; */
    padding-top: 2px;
}
.search a.btn {
    /* Rectangle 94: */
    background: #54C28E;
    background-image: linear-gradient(-180deg, #54C28E 0%, #2EAC70 100%);
    border: 1px solid #3BAA75;
    box-shadow: 0px 1px 2px 0px #17533E;
    border-radius: 2px;
    padding: 0 30px;
}
.search a.btn:hover {
    color: #FFF;
}
.select-section-content-inner {margin:0 auto;background-color: transparent;text-align: center;line-height: 50px;}
.select-section-content .input{
    width: 120px;
    padding: 6px 10px;
}
.select-section-content .function{display: inline-block;color:#333;}
.select-section-content .function .label{
    /* Rectangle 51 Copy 6: */
    /* background: #ddd; */
    /* border: 1px solid rgba(117,126,168,0.38); */
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.select-section-content .time{
    display: inline-block;
}
.select-section-content .time a{padding:0 10px;}
.select-section-content .time a.current {
    color: #fff;
    display: inline-block;
    background-color: #f36e3d;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
}
.select-section-content .select{float:left;padding-right:10px;}
.select-section-content .select .ui-label{width:72px;}
.select-section-content .select .ui-select{width:72px;}
.select-section-content .search{float:left;}
.select-section-content .choose-model {margin:5px 20px 0 20px;}
.select-function {float:right;}
.select-function a {color:#999;display:inline-block; vertical-align:middle;}
.select-function i{display:inline-block;width:16px;height:16px;margin-left:5px;vertical-align:middle;background-image:url("https://www.jx08.net/css/un-arrow.png");background-repeat:no-repeat;overflow:hidden; margin:0 7px; vertical-align:middle;}
.select-function .arrow-down{background-position:0 0;}
.select-function .arrow-up{background-position:0 -16px;}
.select-list{float:left;/* padding: 0 0 0 170px; */}
.select-list li{

display:inline-block;*

display:inline;*

zoom:1;

margin: 0;

cursor:pointer;
}
.select-list li.current,.select-list li.current:hover{background-color: #f36e3d;}
.select-list li a {color:#333;display:block;padding: 0 15px;font-size: 12px;height: 30px;line-height: 30px}
.select-list li:hover{background-color:#D3D3D3;}
.select-list li:hover a {color:#333; text-decoration:none;}
.select-list li.current a,.select-list li.current:hover a:hover {color: #FFF;}

.select-download {display:inline-block;margin:0 50px; text-decoration:underline;}

/*chart-area*/


/* S chart-section */
.chart-table tbody tr:nth-child(5n) td{border-bottom:1px solid #f00;}
.chart-section{position: relative;margin-bottom: 80px;}
.chart-table{width:100%;}
.chart-table .title-text th{font-weight:700;white-space:nowrap;word-wrap: break-word;}
.chart-table .title-number th{padding-top:10px;}
.border-top {border-top:1px solid #E6E6E6}
.chart-table .title-text .border-bottom-header,.chart-table .title-number .border-bottom-header ,.chart-table thead .border-bottom ,#J-ball-content .border-bottom , .title-text .border-bottom , .tbody-footer-header .border-bottom , .J-ball-content border-bottom, .tbody-footer-header border-bottom, #J-select-content .border-bottom {
    border-bottom: 1px solid #757575;
}
.chart-table .tbody{color:#5B5D74;}
.chart-table th{padding:5px 0;background-color:#515368;text-align:center;color:#FFF;}
.chart-table td{padding:10px 0;border-bottom: 1px solid #FFF;border-top: 1px solid #fff;background-color:#FFF;text-align:center;}
.chart-table .issue-numbers,.chart-table .lottery-numbers{width:auto;}
.chart-table .lottery-numbers {color:#F26432;}
.chart-table .size-numbers,.chart-table .parity-numbers{color:#0A94E3;}
.chart-table .border-right{
    border-right:1px solid #757575;
    border-right: 1px solid rgba(155, 155, 155, 0.28);
}
.chart-table .ball-none,.chart-table .title-number .ball-none{width:4px;}
.chart-table th .ball-noraml {color:#FFF;}
.ball-noraml{display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;font-style:normal;color:#666;font-weight: normal;overflow: hidden;}
.chart-table .ball-red,
.chart-table .ball-orange,
.chart-table .ball-blue,
.chart-table .ball-green,
.chart-table .ball-purple,
.chart-table .group-current{
    background-image:url("../images/game/un-chart.png");background-repeat:no-repeat;color:#FFF;
}
.chart-table .ball-red{background-position:0 0;}
.chart-table .ball-orange{background-position:-20px 0;}
.chart-table .ball-blue{background-position:-40px 0;}
.chart-table .ball-green{background-position:-60px 0;}
.chart-table .ball-purple{background-position:-80px 0;}
.chart-table .group-current{display:inline-block;width:18px;height:12px;line-height:12px;text-align:center;font-style:normal;background-position:-100px 0;}
.chart-table .tbody .bg-gray{background-color: #fff;color: #ec1c1c;}
.chart-table .tbody .bg-red{background-color:#db5b38;color:#FFF;}
.chart-table .tbody .bg-blue{background-color:#4ab9d5;color:#FFF;}
.chart-table .tbody .bg-blue .ball-noraml {color:#FFF;}
.chart-table .tbody .bg-green{background-color:#95c571;color:#FFF;}
.chart-table .tbody .compare{background-color:#7999F3;color:#FFF;}
.chart-table .tbody .lost{background-color:#8083A3;color:#CCC;}
.auxiliary-area td{background-color:#515368;border-top:1px solid #E6E6E6;color:#FFF;}
.auxiliary-area td .ball-noraml {color:#FFF;}
.select-area td{background-color:#CCC;}
.select-area .ico-add,.select-area .ico-del{display:inline-block;width:15px;height:15px;margin-right:4px;background-image:url("https://www.jx08.net/css/un-select-area.png");background-repeat:no-repeat;vertical-align:middle; cursor:pointer;}
.select-area .ico-add{background-position:0 0;}
.select-area .ico-del{background-position:-20px 0;}

.chart-table .td-bg {background:#3A3B50;}
.chart-table .td-bg-light {background:#ECECEF;}
.chart-table .border-right-light {border-right:1px solid #D4D4D7;}
/* E chart-section */


.other-flag {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    text-indent: -10000px;
    overflow: hidden;
    background: #0EAA74;
}

.other-flag-odd,
.other-flag-even {
    background: #CE0B24;
}
.other-flag-up {
    border-radius: 0;
    background: url("https://www.jx08.net/css/flag-up.png") no-repeat center center;
}
.other-flag-p {
    border-radius: 0;
    background: url("https://www.jx08.net/css/flag-p.png") no-repeat center center;
}
.other-flag-down {
    border-radius: 0;
    background: url("https://www.jx08.net/css/flag-down.png") no-repeat center center;
}


/** 样式名称规则直接使用号码属性拼接 //array(遗漏次数, 当前开奖号数字, 号温, 遗漏条) **/

/** 当前开奖球数字 和 冷热号数字 **/
.c-0-1,.c-0-2,.c-0-3 {background-image:url("https://www.jx08.net/css/un-chart.png");background-repeat:no-repeat;color:#FFF;background: #FD4E5A;border-radius: 20px;}
.c-0-1,.c-0-2,.c-0-3 {background-position:0 0;}

.table-temperature .c-0-1 {background-position:-40px 0;background: blue;}
.table-temperature .c-0-2 {background-position:-20px 0;background: yellow;color: #333;}
.table-temperature .c-0-3 {background-position:0 0;background: #F60;}

/** 遗漏条样式 **/
.table-lost-post .l-1 {background-color:#DADAE5;border:none;}
.table-lost-post .l-1 .ball-noraml {color:#B7B7B7;}

/** 辅助线 **/
.table-guides .border-bottom {border-bottom:1px solid #CCC;}

/** 遗漏数 **/
.table-lost .ball-noraml {color:#FFF;}

/** 选球区域放置样式被覆盖 **/
.table-lost .auxiliary-area .ball-noraml,.table-lost .select-area .ball-noraml {color:#B7B7B7;}
.table-lost .select-area .ball-orange {color:#FFF;}


/** 号码分布样式 **/
.f-1,.f-2,.f-3,.f-4,.f-5{background-image:url("https://www.jx08.net/css/un-chart.png");background-repeat:no-repeat;color: #fff;background: #34BC0F;border-radius: 20px;}
/*出现单次*/
.f-1{background-position:-60px 0;}
/*出现多次*/
.f-2,.f-3,.f-4,.f-5{background-position:-80px 0;background: #BD3ED4;}



/** 选球区域选球相关样式 **/
.select-area i { cursor:pointer;}





/** 五星综合 **/
/** 分布 **/
.zh-0-1,.zh-0-2,.zhkd-1 {background-image:url("https://www.jx08.net/css/un-chart.png");background-repeat:no-repeat;color:#FFF;}
.zh-0-1 {background-position:-60px 0;}
.zh-0-2 {background-position:-80px 0;}
/** 跨度 **/
.zhkd-1 {background-position:-80px 0;}
/** 大小比 **/
.chart-table .zhdx-0 {background:#7999F3;}
.chart-table .zhdx-0 .ball-noraml {color:#FFF;}
/** 单双比 **/
.chart-table .zhds-0 {background:#7999F3;}
.chart-table .zhds-0 .ball-noraml {color:#FFF;}
/** 质合比 **/
.chart-table .zhzh-0 {background:#7999F3;}
.chart-table .zhzh-0 .ball-noraml {color:#FFF;}
/** 遗漏条 **/

/* dice-number */
.dice-number{width:16px;height:16px;display:inline-block;*display:inline;*zoom:1;background-image:url("../images/game/dice-small.png");background-position:-51px 0;background-repeat:no-repeat;text-indent:-9999em;vertical-align:middle;margin:0 3px;}
.dice-number-1{background-position: 0 0;}
.dice-number-2{background-position: -17px 0;}
.dice-number-3{background-position: -34px 0;}
.dice-number-4{background-position: 0 -17px;}
.dice-number-5{background-position: -17px -17px;}
.dice-number-6{background-position: -34px -17px;}

/*pk10-number*/
.pk10-number{width:23px;height:23px;display:inline-block;*display:inline;*zoom:1;background-image:url("../images/game/pk10-nums.gif");background-position:-51px 0;background-repeat:no-repeat;text-indent:-9999em;vertical-align:middle;margin:0 3px;}
.pk10-number-01{ background-position: -2px -2px    !important;}
.pk10-number-02{ background-position: -2px -29px  !important;}
.pk10-number-03{ background-position: -2px -56px  !important;}
.pk10-number-04{ background-position: -2px -83px  !important;}
.pk10-number-05{ background-position: -2px -110px !important;}
.pk10-number-06{ background-position: -2px -137px !important;}
.pk10-number-07{ background-position: -2px -164px !important;}
.pk10-number-08{ background-position: -2px -191px !important;}
.pk10-number-09{ background-position: -2px -218px !important;}
.pk10-number-10{ background-position: -2px -245px !important;}

.ball-mark{position:absolute;color:#fff;background-color:#f66;font-style:normal;font-size:12px;width:12px;height:12px;line-height:12px;border-radius:50%;top:-6px;right:-6px;}
/* .personal-tab{background-color: transparent!important;} */
.personal-tab,#lottery-list{background-color: transparent!important;}
