
.submit-btn {
	background-color: #fa6146;
	border-radius: 18px;
	padding: 0 10px;
	height: 36px;
	line-height: 36px;
	border: none;
	text-align: center;
	color: #fff;
	cursor: pointer;
	min-width: 100px;
	display: inline-block;
	box-shadow: 0 5px 10px rgba(250, 97, 70, .3);
}

.register-wrap {
	background: url("register-bg.png") no-repeat center top;
	height: 640px;
}

.reg-box {
	position: absolute;
	background:#fff url("register-form-bg.png") no-repeat center bottom;
	border-radius: 6px;
	padding: 15px 20px 30px;
	width: 416px;
	position: absolute;
	right: 72px;
	top: 75px;
}

.resiger-ul {
	margin-top: 20px;
}

.resiger-ul li {
	list-style: none; 
}

.resiger-ul li label {
	width: 70px;
	color: #777;
	float: left;
	display: inline-block;
	line-height: 36px;
}

.register-title {
	line-height: 64px;
	border-bottom: 1px solid #999;
	color: #999;
}

.register-title h2 {
	font-size: 24px;
	color: #333;
	display: inline-block;
	margin-right: 10px;
}

.resiger-ul .input {
	width: 294px;
	margin-bottom: 15px;
}

.resiger-ul .input-group {
	float: left;
	position: relative;
}

.feild-static-tip {
	padding: 0 10px 0 10px;
	color: #ada99f;
	display: none;
}

.resiger-ul li .reg-img-vcode {
	float: left;
}


.input-icon{
	position: absolute;
	right: 10px;
	top: 6px;
	width: 20px;
	height: 20px;
	background-image: url("scan.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.register-wrap .icon-user {
	background-image: url("ico-user.png"); 
}

.register-wrap .icon-password {
	background-image: url("ico-lock.png"); 
}
.register-wrap .icon-invite{
	background-image: url("inviteCode.png"); 
}


.show-password {
	background-image: url("scan.png"); 
	background-position: left top;
}

.show-password.active {
	background-position: 0 -20px;
}